
.create{
    margin-top: 100px;
    box-shadow: 1px 1px 5px 5px black;
    border-radius: 8px;
    width: 300px;
    height: 300px;
    padding: 20px;

}

input, textarea{
    width: 100%;
    border-radius: 8px;
    color: rgb(228, 222, 222);
    outline: none;
    border: none;
    background-color: #1f212b;
    resize: none;
}
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
   
}

input{
    height: 26px;
}
.create-btn:hover{
    color:#ff79c6;
    text-decoration: none;
}
